@import 'tailwindcss';
@import '@fontsource-variable/roboto';
@import '@fontsource/bebas-neue';

@theme {
  /* Brand Text size */
  --text-br-banner: 5.5rem;
  --text-br-banner--line-height: 1.014;

  --text-br-bignumber: 4rem;
  --text-br-bignumber--line-height: 1.014;

  --text-br-title: 2.5rem;
  --text-br-title--line-height: 1.014;

  --text-br-title-sm: 1.75rem;
  --text-br-title-sm--line-height: 1.014;

  --text-desktop-2xl: 88px;
  --text-desktop-xl: 70px;
  --text-desktop-lg: 40px;
  --text-desktop-md: 24px;
  --text-desktop-sm: 20px;
  --text-desktop-xs: 16px;

  --text-mobile-2xl: 40px;
  --text-mobile-xl: 28px;
  --text-mobile-lg: 24px;
  --text-mobile-md: 14px;
  --text-mobile-sm: 11px;

  /* Brand Font families */
  --font-br-title: 'Bebas Neue', sans-serif;
  --font-br-body: 'Roboto Variable', sans-serif;

  --font-emphasis: 'Bebas Neue', sans-serif;
  --font-normal: 'Roboto Variable', sans-serif;

  /* Brand Colors */
  --color-br-text: #fff;
  --color-br-section: #04060c;

  --color-primary-50: #F1F9FE;
  --color-primary-100: #E3F2FB;
  --color-primary-200: #C1E5F6;
  --color-primary-300: #89D2F0;
  --color-primary-400: #4BBAE5;
  --color-primary-500: #23A1D4;
  --color-primary-600: #1582B4;
  --color-primary-700: #126792;
  --color-primary-800: #135879;
  --color-primary-900: #164964;
  --color-primary-950: #0B2433;

  --color-secondary-50: #FFF8EC;
  --color-secondary-100: #FFF0D3;
  --color-secondary-200: #FFDEA5;
  --color-secondary-300: #FFC56D;
  --color-secondary-400: #FFA032;
  --color-secondary-500: #FF830A;
  --color-secondary-600: #FF6A00;
  --color-secondary-700: #CC4C02;
  --color-secondary-800: #A13B0B;
  --color-secondary-900: #82330C;
  --color-secondary-950: #461704;

  --color-neutral-50: #FFFFFF;
  --color-neutral-100: #EFEFEF;
  --color-neutral-200: #DCDCDC;
  --color-neutral-300: #BDBDBD;
  --color-neutral-400: #989898;
  --color-neutral-500: #7C7C7C;
  --color-neutral-600: #656565;
  --color-neutral-700: #525252;
  --color-neutral-800: #464646;
  --color-neutral-900: #3D3D3D;
  --color-neutral-950: #292929;
}
