---
import { LINKS } from '@/data/links'

export interface Props {
  href?: string
  class?: string
}

const { props } = Astro

const { href = LINKS.root } = props
---

<div class={props.class}>
  <a
    class='text-br-text text-5xl font-bold'
    href={href}
    >Logo</a
  >
</div>
