---
import Container from '@/components/Container.astro'
import Text from '@/components/Text.astro'
import Badge from '@/components/Badge.astro'
import { Accordion, type AccordionCard } from '@/components'

export interface Props {
  id?: string
  badge?: string
  title?: string
  cards?: AccordionCard[]
}

const { id, badge, title, cards } = Astro.props
---

<Container id={id}>
  <Badge><slot name='badge'><Fragment set:html={badge} /></slot></Badge>

  <Text
    variant={'title'}
    class='mt-6 mb-12'
    ><slot name='title'><Fragment set:html={title} /></slot></Text
  >

  <div class='flex gap-12'>
    <Accordion cards={cards} />

    <div class='w-[550px] h-auto aspect-square shrink-0 bg-gray-300'></div>
  </div>
</Container>
