---
import '@/styles/global.css'

import type { IMetadata } from './types'

import Metadata from './Metadata.astro'
import Header from './Header/Header.astro'
import Footer from './Footer/Footer.astro'

import { ClientRouter } from 'astro:transitions'

export interface Props extends IMetadata {}

const { ...metadata } = Astro.props
---

<!doctype html>
<html
  lang='es'
  transition:name='root'
  transition:animate='none'>
  <head>
    <Metadata {...metadata} />
    <ClientRouter />
  </head>

  <body class='bg-br-section'>
    <Header />

    <div
      class='grid min-h-screen grid-rows-[1fr,auto]'
      transition:animate='fade'>
      <main>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
