---
import '@/styles/global.css'

import * as Modules from './modules'

import HubspotTrackingCode from '@/scripts/HubspotTrackingCode.astro'
import { Whatsapp, type IWhatsapp } from '@/components'
import { ClientRouter } from 'astro:transitions'
import { Font } from 'astro:assets'

export interface Props extends Modules.IMetadata {}

const { ...metadata } = Astro.props
const whatsappData = {
  phone: '',
  message: '',
} satisfies IWhatsapp
---

<!doctype html>
<html
  lang='es'
  transition:name='root'
  transition:animate='none'>
  <head>
    <Font cssVariable='--font-bebas-neue' preload />
    <Font cssVariable='--font-roboto' preload />

    <Modules.Metadata {...metadata} />
    <ClientRouter />
  </head>

  <body class='bg-primary-1000'>
    <Modules.Header />

    <div
      class='grid min-h-screen grid-rows-[1fr,auto]'
      transition:animate='fade'>
      <main>
        <slot />
      </main>

      <Modules.Footer />
    </div>

    <Whatsapp {...whatsappData} />

    <HubspotTrackingCode />
  </body>
</html>
