---
import '@/styles/global.css'

import * as Modules from './modules'

import { ClientRouter } from 'astro:transitions'

export interface Props extends Modules.IMetadata {}

const { ...metadata } = Astro.props
---

<!doctype html>
<html
  lang='es'
  transition:name='root'
  transition:animate='none'>
  <head>
    <Modules.Metadata {...metadata} />
    <ClientRouter />
  </head>

  <body class='bg-primary-1000'>
    <Modules.Header />

    <div
      class='grid min-h-screen grid-rows-[1fr,auto]'
      transition:animate='fade'>
      <main>
        <slot />
      </main>

      <Modules.Footer />
    </div>
  </body>
</html>
