---
import { Features, type IFeatures } from '@/modules'
import { Contact, type IContact } from '@/modules'
import { LINKS } from '@/data/links'

import * as Modules from './modules'

export interface Props {
  about?: Modules.IAbout
  contact?: IContact
  customers?: Modules.ICustomers
  features?: IFeatures
  hero?: Modules.IHero
  services?: Modules.IServices
  stats?: Modules.IStats
}

const { about, customers, features, hero, services, stats, contact } =
  Astro.props
---

{
  hero && (
    <Modules.Hero
      id='hero'
      href={LINKS.contact}
      {...hero}
    />
  )
}

{
  about && (
    <Modules.About
      id='about'
      href={LINKS.contact}
      {...about}
    />
  )
}

{
  features && (
    <Features
      id='features'
      {...features}
    />
  )
}

{
  customers && (
    <Modules.Customers
      id='customers'
      {...customers}>
      <span>Noemi Cabana</span>
      <span>Lighthouse</span>
      <span>Amatista</span>
    </Modules.Customers>
  )
}

{
  services && (
    <Modules.Services
      id='services'
      {...services}
    />
  )
}

{
  stats && (
    <Modules.Stats
      id='stats'
      {...stats}
    />
  )
}

{
  contact && (
    <Contact
      id='contact'
      {...contact}
    />
  )
}
